.nav{
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid rgba(0,0,0,0.09);
}

.nav_text{
    color: rgb(83, 100, 113);
    font-size: 18px;
}

.nav_text_high{
    font-weight: 800;
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 1px;
    border-bottom: 3px solid blue;
}