.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    border-right: 1px solid rgb(0, 0, 0, 0.09);
    position: sticky;
    top: 0;
}

.sidebar_user {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    width: 230px;
}

.twitterlogo{
    margin-top: 17px;
    margin-left: 16px;
    height: 30px;
    margin-bottom: 10px;
}

.sidebar_user:hover {
    background-color: rgb(247, 249, 249);
    border-radius: 50px;
}

.sidebar_user_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.sidebar_user_name>p {
    font-weight: 800;
    padding: 0;
    margin: 5px 0px;
}

.sidebar_user_name>span {
    font-size: 14px;
    color: gray;
}

.sidebar_user_image {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.link > p{
    font-size: 25px;
    font-weight: 300;
    border-radius: 50px;
    margin: 0;
    padding: 0;
}

.icon{
    font-size: 25px;
}

.link{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 15px;
    width: fit-content;
}

.link:hover{
    background-color: rgb(247, 249, 249);
    border-radius: 50px;
}

 .link_sect > button{
    background-color: rgb(29,155,240);
    padding: 17px 80px;
    border-radius: 25px;
    color: #fff;
    border: 0px;
    font-size: 16px;
    margin-top: 30px;
}