.trending{
    margin-top: 50px;
    background-color: rgb(247,249,249);
    padding: 2px 30px;
    border-radius: 10px;
    min-width: 300px;
    margin-bottom: 30px;
    margin-top: 90px;
}

.trending > p {
    font-weight: 800;
    font-size: 23px;
}